<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="flex">
  <header class="flex">
    <nav>
      <ul class="flex">
        <% for(let i = 0; i < nav.length; ++i){ %>
        <li>
          <a href="<%=nav[i].link%>"><%= nav[i].title %></a>
        </li>
        <%}%>
      </ul>
    </nav>
    <img src="hc" alt="hc">
  </header>
<div id="heading" class="flex">
  <h1>
    <%=title%>
  </h1>
  <div id="rectD"></div>
</div>
<div class="fill flex">
  <main>
    <ul class="flex">
     <% for (let i = 0; i<books.length; ++i){%>
       <li class="flex bookItem">
          <img src="jsc">
          <div class="flex bookDescription">
            <h1 class="bookTitle"><%=books[i].title%></h1>
          <ul>
            <li class="label"><%=books[i].author%></li>
          </ul>
          <p>2 hours ago | <a href="/books/<%=i%>">ReadMore</a></p>
          </div>
        </li>
        <%}%>
    </ul>
  </main>
</div>
</body>
</html>